* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #1a1a1a;
    color: #e5e5e5;
    margin: 0;
}

#headerFijo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #0d1b2a; 
    padding: 10px 0;

}

#headerFijo button {
    display: inline-flex;
    flex-direction: column;
    width: auto;
    height: 50px;

    background-color: #4fc0c0; 
    border: none;
    border-radius: 15px;
}

#headerFijo button img {
    height: 50px;
    width: auto;
}

/* Por defecto: PC */
#menu {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    position: static;

    transform: none;
    width: auto;
    height: auto;
}

/* Para Android, se activará vía JS */
#menu.Android {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0d1b2a; 
    z-index: 9999;
}

#menu.Mostrar {
    transform: translateY(0);
}

/* Opciones visibles solo si se activa por JS */
#Opciones {
    display: none;

    background: #4fc0c0;

    border: none;
    border-radius: 15px;

    color: #ffffff;
    font-weight: bold;
}


#menu button {
    font-size: x-large;

    height: auto;
    margin: 10px 10px;
    border-radius: 15px;

    border: 1px solid #4fc0c0;
    background-color: #4fc0c0;
    color: #ffffff;

}

a {
    text-decoration: none;
    color: #ffffff;
}




footer {
    background-color: #0d0d0d;   
    color: #f2f2f2;            
    padding: 20px 0;
    text-align: center;

    margin-top: 10px;
    box-sizing: border-box;


}

footer .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

footer .row {
    display: flex;
    flex-wrap: wrap;
    /* Que se ajuste en pantallas pequeñas */
    justify-content: space-between;
    align-items: center;
}

footer .col-md-4 {
    flex: 1;
    min-width: 250px;
    margin: 10px 0;
}

footer h4 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #4fc0c0; 

}

footer p {
    margin: 5px 0;
    font-size: 14px;

        color: #cccccc;

}

footer .social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

footer .social-icons li {
    display: inline-block;
}

footer .social-icons a {
    color: #ffffff;
    font-size: 20px;
    transition: color 0.3s ease;
}

footer .social-icons a:hover {
    color: #1e90ff;          
}

footer p {
    margin: 5px 0;
}
